// Colors
$body_mid_pictures_box_shadow:rgba(0, 0, 0, 0.1);
$body_mid_pictures_bg:rgba(0, 0, 0, 0.7);
$white:#ffff;
$body_mid_pictures_bg_button_bg: #119744;

// Pixels
$px_0:0px;
$px_5:5px;
$px_8:8px;
$px_14:14px;
$px_15:15px;
$px_34:34px;
$px_35:35px;
$px_50:50px;
$px_54:54px;
$px_105:105px;
$px_180:180px;
$px_274:274px;
$px_277:277px;
$px_229:229px;
$px_1200:1200px;

// Percents
$prc_100:100%;

.body_middle {
  width: $px_1200;
  margin-bottom: $px_105;
}

.body_mid_inside {
  width: $prc_100;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: $px_50;
  grid-column-gap: $px_34;
}

.body_mid_parts {
  width: $px_274;
  height: $px_277;
}

.body_mid_inside_parts {
  width: inherit;
  height: inherit;
  transition: all 0.3s linear;
}

.body_mid_inside_parts:hover {
  transform: translateY(-$px_5);
}

.body_mid_inside_parts:hover .body_mid_pictures_bg {
  opacity: 1;
}

.body_mid_inside_parts:hover .body_mid_pictures_bg button {
  transform: translateY($px_0);
}

.body_mid_pictures {
  width: $prc_100;
  height: $px_229;
  border-radius: $px_8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $px_0 $px_15 $px_35 $px_0 $body_mid_pictures_box_shadow;
}

.body_mid_pictures_bg {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: $px_8;
  background: $body_mid_pictures_bg;
  transition: all 0.3s linear;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_mid_pictures_bg button {
  width: $px_180;
  height: $px_54;
  background: $body_mid_pictures_bg_button_bg;
  border-radius: $px_8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transform: translateY(-$px_15);
  transition: all 0.3s linear;
}

.body_mid_pictures_bg button a {
  text-transform: uppercase;
  color: $white;
  font-size: $px_14;
  font-weight: 500;
}

.body_mid_pictures img {
  width: $prc_100;
  height: $prc_100;
  border: none;
  border-radius: $px_8;
}