// Colors
$body_3_pictures_bg:rgba(0, 0, 0, .7);
$body_3_pictures_bg_button: #119744;
$body_3_pictures_box_shadow: 0 15px 35px 0 rgba(0, 0, 0, .1);

// Percents
$prc_100:100%;

// Pixels
$px_0:0px;
$px_5:5px;
$px_8:8px;
$px_14:14px;
$px_15:15px;
$px_54:54px;
$px_180:180px;
$px_105:105px;
$px_314:314px;
$px_362:362px;
$px_377:377px;
$px_1200:1200px;




.body_3 {
  width: $px_1200;
  margin-bottom: $px_105;
}

.body_3_inside {
  width: $prc_100;
  height: $px_362;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body_3_inside_parts {
  width: $px_377;
  height: $prc_100;
  transition: all .3s linear;
}

.body_3_inside_parts:hover {
  transform: translateY(-$px_5);
}

.body_3_inside_parts:hover .body_3_pictures_bg {
  opacity: 1;
}

.body_3_inside_parts:hover .body_3_pictures_bg button {
  transform: translateY($px_0);
}

.body_3_pictures {
  width: $prc_100;
  height: $px_314;
  border-radius: $px_8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $body_3_pictures_box_shadow;
}

.body_3_pictures_bg {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: $px_8;
  background: $body_3_pictures_bg;
  transition: all .3s linear;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_3_pictures_bg button {
  width: $px_180;
  height: $px_54;
  background: $body_3_pictures_bg_button;
  border-radius: $px_8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transform: translateY(-$px_15);
  transition: all .3s linear;
}

.body_3_pictures_bg button a {
  text-transform: uppercase;
  color: white;
  font-size: $px_14;
  font-weight: 500;
}

.body_3_pictures img {
  width: $prc_100;
  height: $prc_100;
  border: none;
  border-radius: $px_8;
}