.body_last_part {
  width: 1200px;
}

.body_last_part_inside {
  width: inherit;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
}

.body_last_part_inside_elements {
  width: 216px;
  height: 143px;
  color: #555555;
  border-radius: 8px;
  background: #fff;
  transition: all linear 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body_last_part_inside_elements:hover {
  background: #119744;
  color: #fff;
}

.body_last_part_inside_elements_icon {
  border: 1px solid #000;
  width: 45px;
  height: 45px;
  margin-bottom: 15px;
}

.body_last_part_inside_elements h2 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}