.body_middle {
  width: 1200px;
  margin-bottom: 105px;
}

.body_mid_inside {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 50px;
  grid-column-gap: 34px;
}

.body_mid_parts {
  width: 274px;
  height: 277px;
}

.body_mid_inside_parts {
  width: inherit;
  height: inherit;
  transition: all 0.3s linear;
}

.body_mid_inside_parts:hover {
  transform: translateY(-5px);
}

.body_mid_inside_parts:hover .body_mid_pictures_bg {
  opacity: 1;
}

.body_mid_inside_parts:hover .body_mid_pictures_bg button {
  transform: translateY(0px);
}

.body_mid_pictures {
  width: 100%;
  height: 229px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
}

.body_mid_pictures_bg {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s linear;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_mid_pictures_bg button {
  width: 180px;
  height: 54px;
  background: #119744;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transform: translateY(-15px);
  transition: all 0.3s linear;
}

.body_mid_pictures_bg button a {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.body_mid_pictures img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}